TRACE_LOG=True
MIN_TEXT_LENGTH=1
MAX_TEXT_LENGTH=1000
DEFAULT_NUMBER_OF_RESULTS=5
MIN_NUMBER_OF_RESULTS=1
MAX_NUMBER_OF_RESULTS=100
MONGODB_URI=""
MONGODB_DATABASE=""
MONGODB_COLLECTION=""
BEARER_TOKEN=""
